dist
build
*.egg
*.egg-info
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
# Installer logs
pip-log.txt
MANIFEST

.idea/*

.cache

.venv

*.sw[pon]
.eggs
!fastapi_middlewares/static/dist